@page "/Habilidades"

<h3>Mis habilidades</h3>
<p>En este apartado te presentaré mis habilidades</p>
<ul>
    <li>Elemento 1</li>
    <li>Elemento 2</li>
    <li>Elemento 3</li>
    <li>Elemento 4</li>
</ul>
<p>Los lenguajes que domino son:</p>
<ol type="1">
    <li>Uno </li>
    <li>Dos</li>
    <li>Tres</li>
</ol>
@code {

}
